/* ======================================================
    ### Responsive Mobile-first Media Queries ###
========================================================= */

/* ---------------------- max1280px --------------------- */
@media screen and (max-width : 1199px){
	
}


/* ---------------------- max992px ---------------------- */
@media screen and (max-width : 992px) {
    

	
	
}/* ------ end max992px ------- */


/* ---------------------- max768px ----------------------*/
@media screen and (max-width : 768px) {	
    
}/* ------ end max768px ------- */

/* ---------------------- max575px -------------------- */
@media screen and (max-width : 575px) {
    .card{
		justify-content:center;
		margin-left:20%;
	}
	.inst-section{
		float:right;
	}
	.inst-section img{
		margin:0;
		padding:0;
	}
}/* ------ end max575px ------- */


/*=============================================================
//         							The End                         
=============================================================== */

