*{margin:0; padding:0;}
html, body {
height: 100%;
overflow: visible;
}
body{
font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 24px;
    max-width: 1920px;
    margin: 0 auto;
}
.main-menu a img{
	margin-left:20%;
}
.skill img{
	margin-left:-14px;
	width:100%;
	height:370px;;
}
.skill-name h2{
	color:#525252;
	font-weight:bold;
}
.skill-name p{
	color:#999;
	font-weight:bold;
}
.skill-container{
	background:white;
	width:100%;
	padding:20px;
}
.skill-container li{
	list-style-type:none;
	margin: 40px 0;
	font-weight:bold;
	position:relative;
	color:#525252;
}
.skill-container li::before{
	content: '';
	position:absolute;
	background-color:red;
	width:100%;
	height:5px;
	top:calc(100% + 5px);
	left:0;
}
.skill-container li::after{
	content: '';
	position:absolute;
	background-color:blue;
	width:0%;
	height:5px;
	top:calc(100% + 5px);
	left:0;
	
	animation-duration:3s;
	animation-timing-function:linear;
	animation-delay:2s;
	animation-fill-mode:forwards;
}
.skill-container li.web::after{
	animation-name:web;
}
@keyframes web{
	to{
		width:90%;
		color:gray;
	}
}	
.skill-container li.mar::after{
	animation-name:mar;
}
@keyframes mar{
	to{
		width:95%;
	}
}
.skill-container li.ill::after{
	animation-name:ill;
}
@keyframes ill{
	to{
		width:65%;
	}
}
.skill-container li.pho::after{
	animation-name:pho;
}
@keyframes pho{
	to{
		width:85%;
	}
}
.skill-container li.ide::after{
	animation-name:ide;
}
@keyframes ide{
	to{
		width:96%;
	}
}	
.skill-container span{
	float:right;
}
.get_sec h3{
	padding-top:30px;
	font-weight:bold;
	padding-left:20px;
	color:yellow;
}
.get_sec p{
	padding-left:20px;
	color:white;
}
.get_sec button{
	background:yellow;
	color:blue;
	margin-left:20px;
}
.btn-primary:focus {
    box-shadow: none;
}
.skill-name{
	margin-top:4%;
}
.skill-name h2{
	text-align:center;
}
.skill-name p{
	text-align:center;
}
.skill-dev i{
	padding-top:50px;
	font-size:40px;
	padding-left:40%;
	color:green;
}
.skill-dev h2{
	font-weight:bold;
	font-size:30px;
	text-align:center;
	padding-top:10px;
	color:#6b6b6b;
}

.skill-dev p{
	color:#999;
	text-align:center;
	font-size:17px;
	padding-top:8px;
	padding-bottom:50px;
}
.skill-dev {
    border: 1px solid #dadada;
    
    position: relative;
	margin-left:2px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.skill-dev h2 a {
    color: #464646;
    font-size: 22px;
    margin-top: 16px;
    display: block;
	text-decoration:none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.skill-dev p {
    margin-top: 25px;
    color: #999;
    font-size: 15px;
    line-height: 29px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.skill-dev:hover {
   background-color: blue;
   
}
.skill-dev:hover i {
   color: white;
}
.skill-dev:hover h2 a {
   color: white;
}
.skill-dev:hover p{
   color: white;
}
.skill-2{
	margin-left:-2px;
	
}
.skill-4{
	margin-left:-2px;
}
/*==counter section==*/
.Counter_section_digital_home {
    position: relative;
    background-color: #0084b4;
    padding: 114px 0px 114px;
}
.number_tem_resume {
    color: #fff;
    margin-bottom: 40px;
}
.number_tem_resume i {
    font-size: 33px;
    color: #efefef;
}
.number_tem_resume span.counter {
    display: block;
    color: #fff;
    font-size: 48px;
    margin-top: 22px;
    font-weight: 700;
    line-height: 60px;
}
.number_tem_resume h6 {
    color: #f1f1f1;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
}
.Counter_section_digital_home{
	margin-top:150px;
}
.gallery_section h2{
	text-align:center;
	padding-top:120px;
	font-size:51px;
	font-weight:bold;
	color:#00bfd8;
}
.grid-item {
  float: left;
  width: 33.333%;
  height: auto;
  position:relative;
}
.grid-sizer{
	width:33.33%
}
.grid-item--width2 { width: 33.333%; }
.button-group button{
	background:none;
	border:none;
	outline:none;
	cursor:pointer;
	font-weight:bold;
	margin-left:20px;
	color:grey;
}
.gallery-overlay{
	position:absolute;
	background:rgba(150,-11,-27,.7);
	width:100%;
	height:100%;
	left:0;
	top:0;
	opacity:0;
	transition:0.5s;
}
.grid-item:hover .gallery-overlay{
	opacity:1;
}
.client-sec h2{
	text-align:center;
	padding-top:100px;
	font-size:45px;
	font-weight:bold;
	color:#404040;
}
.carousel-item p{
	text-align:center;
	padding-top:60px;
	color:white;
	font-size:16px;
	padding-left:150px;
	padding-right:150px;	
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.carousel-item h5{
	text-align:center;
	color:yellow;
	font-size:15px;
	font-weight:bold;
	padding-top:15px;
	padding-bottom:50px;
}
.price-section{
	margin-top:10%;
}

.card h3 a{
	color:blue;
	font-size:26px;
	text-decoration:none;
	font-weight:bold;
}
.blog-category{
	color:grey;
}
.card p{
	color:#535353;
}
.blog-bottom-section{
	padding-top:10%;
	padding-bottom:10px;
}
.blog-bottom-title h1{
	padding-top:50px;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:40px;
}
.blog-bottom-title p{
	color: #e5e5e5;
    font-size: 17px;
    text-align:center;
    padding:2% 14%;
}
.blog-bottom-section button{
	background:white;
	padding-left:30px;
	padding-right:30px;
}
.bg-primary {
    background-color: #007bff!important;
    padding-bottom: 7%;
}
.item1 img{
	width:100px;
	height:auto;
}
.owl-carousel .owl-item img {
    display: block;
    width: 30%;
    -webkit-transform-style: preserve-3d;
    padding-top: 15%;
}
.footer_section{
	padding:5% 1%;
	margin-top:55px;
}
.about-sec-title h2{
	font-size:30px;
	color:#fff;
}
.about-sec-title p{
	color:#fff;
	padding-top:25px;
}
.about-sec-title ul{
	font-size:15px;
	padding-top:20px;
}
.about-sec-title ul li{
	list-style-type:none;
	border-bottom:1px solid #4c4c4d
}
.about-sec-title ul li a{
	text-decoration:none;
	color:#fff;
	line-height:35px;	
}
.about-sec-title h6{
	color:#949494;
	font-size:12px;
	padding-top:20px;
}
.about-sec-title>.twitter-p{
	color:#fff;
	padding-top:2px;
	border-bottom:2px solid #4c4c4d;
	padding-bottom:20px;
}
.ins-img img{
	margin-left:20px;
}

.about-sec-title h2{
	margin-left:20px;
	
}
.second-footer-section{
background:#202020;
padding:1% 30%;
}
.second-footer-section p{
color:#7b7b7b;
padding-top:4%;
}
.gallery-overlay h4{
	color:#fff;
	font-size:20px;
	text-align:center;
	padding-top:28%;
}
.gallery-overlay p{
	color:#fff;
	font-size:14px;
	text-align:center;
}
.overlay-3{
	padding-top:47%;
}
.about-sec-title>.recent_post li{
	list-style-type:bold;
	color:white;
	border:none;
}
.about-sec-title>.recent_post{
	padding-left:7%;
}
.about-sec-title>.useful_links li{
	border:none;
}
.about-sec-title>.useful_links{
	padding-left:7%;
}
.blog-banner{
	background: url(../images/5852.jpg) no-repeat scroll center center;
	height:500px;
	background-size:cover;
}
.blog-banner h2{
	color:#efff03;
	font-size:50px;
	text-align:center;
	margin-top:17%;
	font-weight:bold;
}

.Blog_standard_grid_page_blog {
    padding: 130px 0px 50px;
    overflow: hidden;
}
.blog_standard_grid_item {
    margin-bottom: 70px;
    border-bottom: 1px solid #f2f2f2;
    padding-right: 15px;
}
.blog_standard_grid_item img {
    width: 100%;
}
.blog_standard_grid_content {
    margin-top: 48px;
}
.blog_grid_single_details {
    font-size: 15px;
    color: #999;
    margin-top: 26px;
    line-height: 29px;
}
.blog_grid_single_details a {
    color: #999;
}
.b_post_social_count {
    margin-top: 44px;
    margin-bottom: 27px;
}
.b_post_social_count ul li {
    display: inline-block;
    margin: 0px 6px;
}
.b_post_social_count ul li a {
    color: #7a7a7a;
}
.b_post_social_count ul li a span.sl-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    font-size: 13px;
    background-color: #ddd;
    margin-right: 12px;
    color: #7a7a7a;
}
/*===col-md-4===*/
/*===Search From===*/
.Blog_1-search1 {
    position: relative;
    border: 1px solid #ebebeb;
}
.Blog_1-search1 input {
    width: 100%;
    padding: 12px 13px;
    outline: 0;
    color: #575757;
    border: 0px solid #ebebeb;
    position: relative;
    background: transparent;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 13px;
}
.Blog_1-search {
    position: absolute;
    top: 0;
    right: -2px;
}
.Blog_1-search input {
    color: #9d9c9c;
    padding: 12px 10px;
    width: 44px;
    font-family: 'FontAwesome';
    font-weight: 100;
}
.Blog_1-search1 [placeholder]::-webkit-input-placeholder {
    color: #9d9c9c;
}
[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s 0.3s ease;
    -moz-transition: opacity 0.3s 0.3s ease;
    -ms-transition: opacity 0.3s 0.3s ease;
    -o-transition: opacity 0.3s 0.3s ease;
    transition: opacity 0.3s 0.3s ease;
    opacity: 0;
}
/*===About Me===*/
.right_widget_titles {
    margin-top: 48px;
}
.right_widget_titles h4 {
    position: relative;
    margin: 0;
    font-size: 16px;
    color: #464646;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.right_widget_titles h4:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    z-index: -99;
    background-color: #cfcfcf;
    content: "";
}
.right_widget_titles h4:before {
    position: absolute;
    left: 50%;
    height: 3px;
    width: 45px;
    background-color: #525252;
    content: "";
    bottom: -1px;
    transform: translate(-50%);
}
/*===Categories===*/
.categories_item_b {
    margin-top: 31px;
}
.categories_item_b li {
    border-bottom: 1px solid #cfcfcf;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 0 7px;
}
.categories_item_b li:last-child {
    border-bottom: 0;
}
.categories_item_b li a {
    color: #878787;
	text-decoration: none;

}
/*Latest Posts*/
.r-course {
    margin-top: 50px;
}
.r-course li {
    margin-bottom: 23px;
    overflow: hidden;
}
.rcourse-img {
    float: left;
}
.rcourse-img img {
    width: 100%;
}
.rcourse-txt {
    display: table;
    padding-left: 15px;
}
.rcourse-txt p {
    color: #949191;
    line-height: 14px;
    margin-bottom: 5px;
    font-size: 13px;
}
.rcourse-txt a {
    color: #949191;
    font-weight: 400;
    font-size: 12px;
	text-decoration: none;
}
.rcourse-txt h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 20px;
    margin-bottom: 3px;
    color: #464646;
}
/*===Subcribe & Follow===*/
.subcribe_follow_item_b {
    background-color: #f4f4f4;
    margin-top: 33px;
    text-align: center;
}
.subcribe_follow_item_b li {
    display: inline-block;
    padding: 19px 0px;
}
.subcribe_follow_item_b li a {
    color: #767676;
    font-size: 13px;
    padding: 6px 25px;
    border-right: 1px solid #bbbbbb;
}
.Blog_standard_grid_page_blog.B_page_four .subcribe_follow_item_b li a {
    padding: 6px 20px;
}
.subcribe_follow_item_b li:last-child a {
    border: none;
}
/*=========----------------------=========
    15. Blog Page Two
=========------------------------=======*/
/*===for title bg ===*/
.blog_page_two_title_img {
    background: url(../images/blog_page_two_title_img.jpg) no-repeat scroll center center;
}
/*===blog two details===*/
.Blog_standard_grid_page_blog.B_page_two {
    padding: 130px 0px 46px;
}
.blog_standard_item img {
    width: 100%;
}
.Blog_standard_page_blog {
    padding: 100px 0px 92px;
    overflow: hidden;
}
.youtube-player {
    width: 100%;
    height: 560px;
    border: none;
}
.blog_standard_content h3 {
    margin: 0;
    margin-top: 26px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    display: inline-block;
}
.blog_standard_content h3 a{
    color: #464646;
    display: block;
}
.blog_standard_single_admin {
    letter-spacing: 1px;
    color: #999;
    font-size: 120%;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
}
.blog_standard_single_details {
    font-size: 15px;
    color: #999;
    margin-top: 25px;
    line-height: 29px;
}
.blog_standard_item {
    margin-bottom: 67px;
    padding-right: 15px;
}
.blog_standard_single_admin a {
    color: #6a6a6a;
    
    text-decoration: none;
}
}
.blog_standard_single_readmore {
    font-size: 13px;
    color: #464646;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}
/*=========----------------------=========
    16. Blog Page Three
=========------------------------=======*/
/*===for title bg ===*/
.blog_page_three_title_img {
    background: url(../images/blog_title_img_03.jpg) no-repeat scroll center center;
}
/*===blog three details===*/
.Blog_standard_grid_page_blog.B_page_three {
    padding: 130px 0px 75px;
}
.blog_standard_grid_single_item {
    margin-bottom: 40px;
}
.blog_three_pd {
    padding-right: 15px;
}
.grid_standarT_img img {
    width: 100%;
}
.m_up_GriD_content {
    text-align: center;
    margin-top: -15px;
}
.GriD_content_F_L {
    background-color: #403f3e;
    color: #fff;
    display: inline-block;
    padding: 6px 11px;
    margin: 0;
    letter-spacing: .5px;
}
.GriD_content_F_L a {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.GriD_content_single h3 {
    margin: 0;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    display: inline-block;
}
.GriD_content_single h3 a {
    color: #464646;
}
.GriD_content_single h4 {
    letter-spacing: 1px;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    margin-top: 13px;
}
.GriD_content_single h4 a {
    color: #6a6a6a;
}
.GriD_content_deTAIls {
    font-size: 15px;
    color: #999;
    margin-top: 20px;
    line-height: 29px;
}
/*=========----------------------=========
    17. Blog Page Four
=========------------------------=======*/
/*===for title bg ===*/
.blog_page_four_title_img {
    background: url(../images/blog_title_img_04.jpg) no-repeat scroll center center;
}
/*===blog four details===*/
.Blog_standard_grid_page_blog.B_page_four {
    padding: 130px 0px 78px;
    overflow: hidden;
}
.b4_single_blog_img img {
    width: 100%;
}
.B_page_four .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
}
.b4_single_blog_item {
    
}
.b4_single_blog_item .col-md-5,
.b4_single_blog_item .col-md-7 {
    
}
.b4_single_blog_content {
    
}
.b4_single_blog_content p {
    font-size: 15px;
    color: #999;
    margin-top: 20px;
    line-height: 29px;
}
.b_post_social_count.b4_social_network {
    margin-top: 25px;
    margin-bottom: 0;
}
.b_post_social_count.b4_social_network ul li a span.sl-icon{
    background-color: #f2f2f2;
    color: #7a7a7a; 
}
/*===blog title===*/
.blog_standard_tite h4 {
    display: inline-block;
    color: #858585;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}
.blog_standard_tite h4 span {
    color: #00bfd8;
}
.blog_standard_tite h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 9px;
    line-height: 28px;
}
.blog_standard_tite h3 a {
    color: #464646;
	text-decoration:none;
	margin-left:20px;
}
.blog_standard_tite {
    letter-spacing: 1px;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}
.blog-content img{
	width:95%;
	height:auto;
}
.blog-content-item h1{
	margin-top:2%;
}
.blog-content-item h1 a{
	font-size:75%;
	font-weight:bold;
	color:#4c4444;
	margin-top:4%;
	text-decoration:none;
}
.blog-content-item p{
	color:#999;
	font-size:120%;
	padding-top:10px;
}
.blog-banner-about{
	background: url(../images/about-banner.jpg) no-repeat scroll center center;
	height:500px;
	background-size:cover;
	filter:brightness(70%);
}
.blog-banner-about h2{
	text-align:center;
	padding-top:20%;
	font-weight:bold;
	color:white;
	filter:brightness(200%);
	font-size:460%;
}
.about-know-us h2{
	color:#464646;
	font-weight:bold;
	margin-top:13%;
	font-size:200%;
}
.about-know-us p{
	color:#626262;
	font-size:115%;
	line-height:194%;
}
.about-my-photo img{
	margin-top:14%;
}

.news-letter-bg{
	background-color:#090528;
}

.blog-banner-contact{
	background: url(../images/pexels-andreea-ch-1076039.jpg) no-repeat scroll center center;
	height:500px;
	background-size:cover;
	
}
.blog-banner-contact h2{
	color:yellow;
	font-weight:bold;
	text-align:center;
	padding-top:18%;
	font-size:434%;
}
/*===address left / right===*/
.contact_padding_toP {
    padding: 129px 0px 91px;
    overflow: hidden;
}
.address_form_singlE {
    margin-bottom: 21px;
}
.address_form_singlE h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #464646;
}
.address_form_singlE p {
    color: #8b8b8b;
}
.address_form_singlE a {
    font-size: 15px;
    color: #999;
}
.address_form_singlE p {
    color: #999;
    line-height: 29px;
    font-size: 15px;
}
.address_form_singlE p span {
    display: block;
}
.contact_social_last li {
    margin-bottom: 3px;
}
.contact_social_last li a {
    font-size: 15px;
    color: #999;
    transition: .4s;
}
.contact_social_last li a:hover {
    color: #585858;
}
/*===map==*/
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}
.website input {
    margin-left: 23rem;
    margin-top: -16%;
}
.blog-banner-blog-single{
	background: url(../images/pexels-cottonbro-7564871.jpg) no-repeat scroll center center;
	height:500px;
	background-size:cover;
}
.blog-banner-blog-single h2{
	color:yellow;
	font-weight:bold;
	text-align:center;
	padding-top:18%;
	font-size:434%;
}
.Blog_single_p_page_blog {
    padding: 130px 0px 105px;
    overflow: hidden;
}
.blog_standart_title_04 {
    background: url(../images/blog_title_img_04.jpg) no-repeat scroll center center;
}
.blog_single_item {
    padding-right: 15px;
}
.blog__single_sa_img img {
    width: 100%;
}
.blog_single_top_content {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 64px;
    margin-bottom: 35px;
}
.blog_single_top_content h3 {
    margin: 0;
    margin-top: 27px;
    font-size: 30px;
    font-weight: 600;
    color: #464646;
    line-height: 44px;
}
.blog_s_single_admin a {
    color: #999;
    font-weight: 500;
    margin-right: 0px;
}
.blog_s_single_admin a.admin {
    color: #6a6a6a!important;
    font-weight: 500!important;
    margin-right: 10px!important;
}
.content_blog_text {
    padding-left: 50px;
    margin-top: 17px;
    margin-bottom: 15px;
}
.content_blog_text li {
    color: #848383;
    font-size: 14px;
    margin-bottom: 6px;
}
.content_blog_text li {
    list-style: disc;
}

.blog_single_p_content p {
    font-size: 15px;
    margin: 0;
    color: #999;
    line-height: 29px;
    margin-bottom: 25px;
    margin-top: 6px;
}
.blog_single_p_content h5 {
    font-weight:400;
    font-size: 12px;
    margin: 0;
    color: #999;
    line-height: 29px;
    margin-bottom: 34px;
    margin-top: 6px;
}
.code_for_blog {
    margin: 0;
    font-size: 16px;
    color: #787878;
    line-height: 29px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
}
.e_blog_A img {
    height: 107px;
    width: 125px;
}
.e_blog_A {
    float: left;
}
.blog_a_text {
    padding-left: 150px;
}
.blog_a_text h5 {
    margin: 0;
}
.blog_a_text h5 a {
    color: #494949;
    font-size: 14px;
    font-weight: 600;
}
.blog_a_text p {
    color: #7f7f7f;
    font-size: 14px;
    margin: 0;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.blog_a_social_blog li {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    position: relative;
}
.blog_a_social_blog li a {
    color: #767676;
    padding-right: 10px;
}
.blog_a_social_blog li:after {
    position: absolute;
    right: 0;
    top: 50%;
    height: 11px;
    width: 1px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    background-color: #adadad;
}
.blog_a_social_blog li:last-child:after {
    display: none;
}
.content_blog_a {
    overflow: hidden;
    padding-bottom: 34px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 50px;
}
.blog_a_text h4 {
    font-size: 12px;
    color: #7f7f7f;
    letter-spacing: 1px;
    margin: 0;
}
._comments1 {
    color: #494949;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 500;
}
.msg_form h5 {
    font-size: 16px;
    margin: 0;
    color: #494949;
    margin-bottom: 37px;
    font-weight: 500;
}
.msg_form [placeholder]::-webkit-input-placeholder {
    color: #848080;
}
.msg_form .form-control {
    border-radius: 0;
    box-shadow: none;
    text-transform: capitalize;
    outline: 0;
    border: 1px solid #fff;
    height: 42px;
    font-size: 13px;
    color: #000;
    margin-bottom: 18px;
    background-color: #efefef;
}
.msg_form textarea.form-control {
    height: auto;
    height: 100px;
    resize: none;
}
.submit-btn_ph {
    outline: 0;
    color: #e5e5e5;
    background: #4e4e4e;
    border: none;
    padding: 10px 45px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    margin-top: 1px;
    border: 1px solid transparent;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
}
.submit-btn_ph:focus {
    color: #e5e5e5;
}
.submit-btn_ph:hover {
    color: #000;
    border: 1px solid #4e4e4e;
    background-color: #fff;
}
.Show-more-post{
	background: red;
    text-align: center;
    margin-left: 45%;
    margin-top: 5%;
	font-weight:bold;
}


























